extends layout

block content

  div.jumbotron
    h1.text-center= title
  div.container
    table(id="main_content")
      colgroup
        col(span="1" style="width: 5%;")
        col(span="1" style="width: 100%;")
      tr(class="space-under")
        //td(class="butt-pad")
          //button(type="button" class="btn btn-default" id="i_lock")
            //i(id="i_icon" class="fa fa-unlock-alt fa-2x")
        td 
          select(id="iso_select" class="form-control" data-iso=iso)
            option(value=1) ISO 100
            option(value=2) ISO 200
            option(value=3) ISO 400
            option(value=4) ISO 800
            option(value=5) ISO 1600
            option(value=6) ISO 3200
      tr(class="space-under")
        //td(class="butt-pad")
          //button(type="button" class="btn btn-default" id="f_lock")
            //i(id="f_icon" class="fa fa-unlock-alt fa-2x")
        td
          div#f_slider
          input(type="text" id="f_amount" class="form-control" placeholder=("Recommending f/" + aperture) readonly="true" data-aperture=aperture)
      tr(class="space-under")
        //td(class="butt-pad")
          //button(type="button" class="btn btn-default" id="s_lock")
            //i(id="s_icon" class="fa fa-unlock-alt fa-2x")
        td
          div#s_slider
          input(type="text" id="s_amount" class="form-control" placeholder=("Recommending " + shutterStr + "s") readonly="true" data-shutter=shutter)
      tr
    input.btn(id="capture_exif" type="button", class="btn btn-default btn-lg btn-block", value="Capture EXIF")
    div(id="exif")
      table
        colgroup
          col(span="1" style="width: 10%;")
          col(span="1" style="width: 10%;")
          col(span="1" style="width: 10%;")
          col(span="1" style="width: 10%;")
          col(span="1" style="width: 10%;")
          col(span="1" style="width: 10%;")
          col(span="1" style="width: 10%;")
        tr
          th Lumens
          th Exposure Value
          th ISO
          th Aperture
          th Shutter Speed
          th Longitude
          th Latitude
        tr
          td=lumens
          td=exposure
          td=iso_exif
          td=aperture
          td=shutterStr
          td=longitude
          td=latitude
  div.jumbotron(id="custom-jumbo")
    p.small.text-center JRAK CO. 2014